* {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1200px;
}
#yourName {
    position: fixed;
    left: 20%;
    font-size: 20px;
    width: 220px;
    height: 50px;
    top: 0;
    padding: 15px;
    background: teal;
    text-align: center;
    color: white;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}

#links {
    font-size: 16px;
    padding: 1px;
}

#Contact {
    float: right;
    padding: 10px;
    color: #666666;
    border-left-color: #eeeeee;
    border-left-width: 2px;
    border-left-style: solid;
}



#Portfolio {
    padding: 10px;
    float: right;
    color: #666666;
    border-left-color: #eeeeee;
    border-left-width: 2px;
    border-left-style: solid;
}

#About {
    float: right;
    padding: 10px;
    border-left-color: #eeeeee;
    border-left-width: 2px;
    border-left-style: solid;
    color: #666666;
}
,
#content {
    position: relative;
    width: 960px;
    margin: 10px 10px 10px 10px;
    /*margin: auto 0 auto 0;*/
    padding: 10px;
    border-top: 2px;
    border-top-color: grey; 
    border-top-width: 2px;
}

h1 {
    font-size: 24px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    border-bottom-width: 2px;
    color: teal;
    margin: 0px 0px 10px 0px;
    padding: 5px;
}

#main {
    position: relative;
    background: #eeeeee;
    padding: 20px;
    top: 50px;
    width: 100%;
    height: 100vh;
    left: 0px;
    border-top: 2px;
    border-top-color: #8583833f;
    border-top-width: 2px;
    border-top-style: solid;
}


#AboutMe {
    position: absolute;
    padding: 20px;
    left: 20%;
    top: 5%;
    /*right: 20%;*/
    width: 70%;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: #8583833f;
}

footer {
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    background-color: grey;
    width: 100%;
    border-top-width: 5px;
    border-top-color: teal;
    border-top-style: solid;
    font-size: 12px;
    color: white;
    text-align: center;
    z-index: 3;
}

#name,
#email,
#message
 {
    /*position: absolute;*/
    padding: 5px;
    /*border-style: solid;
    border-width: 2px;
    border-color: #8583833f;*/
    right: 20px;
    top: 20px;
    height: 30px;
    font-size: 18px;
    }

input {
        width: 800px;
        color: black;
    }

#message {
    height: 300px;
    width: 800px;
}
/*
#email {
    /*position: absolute;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #8583833f;
    right: 20px;
    top: 20px;
    width: 800px;
    height: 30px;
    font-size: 18px;
}
*/


#picture {
    height: 150px;
    float: left;
    padding: 10px;
 /*   border-style: solid;
    border-width: 2px;
    border-color: #8583833f; */
    right: 20px;
    top: 20px;
}

#submit {
    background-color: teal;
    color: white;
    padding: 5px;
    width: 80px;
}

.portfolio {
    float: left;
    padding: 1px;
    margin: 10px 20px 10px 20px;
    position: relative;
}

#archer,
#gummybears,
#gudetama,
#strangerthings,
#sailormoon {
    float: left;
    position: relative;
    top: 10px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
}

#archer {
    width: 250px;
}

#gummybears {
    width: 250px;
    left: 10px;
}

#gudetama {
    width: 250px;
    left: 0px;
}


.label  {
    position: absolute;
    /*border-style: solid;
    border-width: 2px;
    border-color: black;*/
    padding: 20px;
    width: 100%;
    background-color: teal;
    color: white;
    bottom: 40px;
    left: 0px;
    z-index: 2;
    text-align: center;
}   

@media screen and (max-width: 980px) {
body {    
    /*background-color: red;*/
}
#yourName {
    left: 20%;
}
#main {
    max-width: 980px;
    width: 100%px;
    padding: 30px;
}
#aboutme {
    left: 20%;
}

#picture {
    height: 150px;
}
}

@media screen and (max-width: 768px) {
body {    
    /*background-color: blue;*/
}
#picture {
    padding: 20px;
    height: 250px;
}

#yourName {
    left: 5%
}
#main {
    max-width: 768px;
    width: 100%px;
}
#AboutMe {
    left: 5%;
}
}

@media screen and (max-width: 640px) {
body {    
    /*background-color: green;*/
}
#yourName {
    left: 10px;
    padding: 20px;
    width: 100%;
}
#links {
    top: 200px;
    z-index: 4;
    padding-left: 1/0px;
    margin: 10px 10px 10px 10px;
    float: none;
}
#main {
    max-width: 640px;
    width: 100%px;
}
#picture {
    padding: 20px;
    height: 330px;
}
h1 {
    font-size: 36px;
}
#AboutMe {
    left: 5%;
    width: 80%;
    font-size: 24px;
}
.label {
    width: 100%;
}
#archer,
#gummybears,
#gudetama,
#strangerthings,
#sailormoon  {
    left: 0;
}
#About,
#Contact,
#Portfolio {
    float: none;
    top: 200px;
    float: right;
    padding: 20px;
    margin: 10px 10px 10px 10px;
}

}